<div class="Section">
    <div>
    <table style="height: 30px;" border:0 width="800" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td width="100%">
    <p style="text-align: left;">{data_field}</p>
    </td>
    </tr>
    </tbody>
    </table>
    <table style="height: 60px;" border:0 width="800" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td width="100%">
    <p><strong>Test automat OSC Alarm raport.</strong></p>
    </td>
    </tr>
    </tbody>
    </table>
    <table style="height: 752px;" border:0 width="800" cellspacing="0" cellpadding="0">
    <tbody>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Date of event reported :</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p>{event_report_time}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Reported by :</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">Automat</td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Priority :</p>
    </td>
    <td style="width: 238.517px; height: 46px;">
    <p><strong><span style="color: #ff6600;">P1</span></strong></p>
    </td>
    <td style="width: 237.583px; height: 46px;">
    <p>&nbsp;</p>
    </td>
    </tr>
    <tr style="height: 46px;">
    <td style="width: 317.5px; height: 46px;">
    <p>Type of alert :</p>
    </td>
    <td style="width: 477.7px; height: 46px;" colspan="2">
    <p ><span style="color: #ff6600;"><strong>With interference</strong></span></p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>System:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p>HUAWEI</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>NE Name:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">{ne_name}</td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Alarm source:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{alarm_source}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Measurement activation 1end node:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{1end_node}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Measurement activation 1end port:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{1end_port}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Measurement activation 2end node:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p>{2end_node}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Measurement activation 2end port:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{2end_port}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>WDM Section:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{wdm_section}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 62px;">
    <p>OT:</p>
    </td>
    <td style="width: 477.7px; height: 62px;" colspan="2">
    <p class="MsoValue">{ot}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>GIS data:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{gis}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Emplazamiento:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{Emplazamiento}</p>
    </td>
    </tr>
    <tr style="height: 40px;">
    <td style="width: 317.5px; height: 40px;">
    <p>Name SEDRA:</p>
    </td>
    <td style="width: 477.7px; height: 40px;" colspan="2">
    <p class="MsoValue">{Name SEDRA}</p>
    </td>
    </tr>
    </tbody>
    </table>
    <br />
    <p>&nbsp;</p>
    <table class="MsoNormalTable" border:0 width="800" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td width="20%">
    <p><img /></p>
    </td>
    <td width="80%">
    <h6>Automatically generated raport.</h6>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    <p>&nbsp;</p>
    